{% extends 'base.html.twig' %}

{% block title %}Listado{% endblock %}

{% block body %}
    <div class="row">
        {% for beer in beers %}
            <div class="col-lg-4">
                <img style="max-width: 50px;" src="{{beer.image}}" alt="Girl in a jacket">
                <p>Id: {{beer.id}}</p>
                <p>Name: {{beer.name}}</p>
                <p>Description: {{beer.description}}</p>
                <p>Slogan: {{beer.slogan}}</p>
                <p>Date: {{beer.date|date("m/d/Y")}}</p>
            </div>
        {% endfor %}
    </div>    
{% endblock %}